* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.active-project {
  border: 2px solid black;
  background-color: green;
}

.low-priority {
  background-color: green;
}

.medium-priority {
  background-color: yellow;
}

.high-priority {
  background-color: red;
}

.overdue {
  color: purple;
}